/* Default CSS*/
*, h1, h2, h3, h4, h5, h6, p, input {
  font-family: 'Nunito', sans-serif;
}

body {
  background: #f8f9fc;
}

.default {
    margin-top: 80px;
}

h1 {
  color: #5a5c69;
  font-size: 1.75rem;
}
