/* Default CSS*/
/* ============BODY CUSTOM RESET============ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: 'ModernEra-Regular', sans-serif;
    text-transform: none;
    text-decoration: none;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1.4;
    kerning: none !important;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}
:root {
    --color-primary: #8f8dce;
    --color-secondary: #545377;
    --color-success: #55d18f;
    --color-danger: #E74E1A;
    --color-warning: #ffd968;
    --color-green: #709fff;
    --color-link: #5f8ff1;
    --color-dark: #383751;
    --color-light: #FAFAFA;
    --color-donkergrijs:  #383751;
    --color-piecieDonkergrijs: #545377;
    --color-grijs: #BCBCC4;
    --color-lichtgrijs: #FAFAFA;
    --color-eenGoeieOranje: #E74E1A;
    --color-grunerTag: #8DEEBA;

    --color-blue900: #273555;
    --color-blue700: #808BA1;
    --color-green: #00D5CF;
    --color-gray300: #FBF8F6;
    --color-borderLine: #F5F2F0;
    --color-white: #FFFFFF;



    --transition: all .24s ease-in 0s;
    --moz-transition: all .24s ease-in 0s;
    --webkit-transition: all .24s ease-in 0s;
    --o-transition: all .24s ease-in 0s;
}

::selection {
    color: #FFFFFF;
    background: var(--color-green);
}
::-moz-selection {
    color: #FFFFFF;
    background: var(--color-green);
}

body {
    overflow-x: hidden !important;
}

button:focus,*:focus,.btn.focus,.btn:focus{outline:0;}
.btn.focus, .btn:focus{box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);}

.form-control:focus {
    border-color: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px 0px 0px rgba(0, 0, 0, 0);
}


@media only screen and (min-width: 768px) {
    .container-fluid {
        padding: 0;
    }
}



/* ============FONTS============ */
@font-face {font-family: 'ModernEra-Bold';
    /* src: url('../assets/fonts/Newzald-Bold.otf') format('opentype'); */
    src: url('../assets/fonts/ModernEra-Bold.eot') format('embedded-opentype');
    src: url('../assets/fonts/ModernEra-Bold.ttf') format('truetype');
    src: url('../assets/fonts/ModernEra-Bold.woff') format('woff');
    src: url('../assets/fonts/ModernEra-Bold.woff2') format('woff2');
}

@font-face {font-family: 'ModernEra-Medium';
    /* src: url('../assets/fonts/Newzald-Regular.otf') format('opentype'); */
    src: url('../assets/fonts/ModernEra-Medium.eot') format('embedded-opentype');
    src: url('../assets/fonts/ModernEra-Medium.ttf') format('truetype');
    src: url('../assets/fonts/ModernEra-Medium.woff') format('woff');
    src: url('../assets/fonts/ModernEra-Medium.woff2') format('woff2');
}

@font-face {font-family: 'ModernEra-Regular';
    /* src: url('../assets/fonts/Newzald-Regular.otf') format('opentype'); */
    src: url('../assets/fonts/ModernEra-Regular.eot') format('embedded-opentype');
    src: url('../assets/fonts/ModernEra-Regular.ttf') format('truetype');
    src: url('../assets/fonts/ModernEra-Regular.woff') format('woff');
    src: url('../assets/fonts/ModernEra-Regular.woff2') format('woff2');
}

h1, h2, h3, button {
    font-family: 'ModernEra-Bold', sans-serif;
}

h4, h5, h6, p, input {
    font-family: 'ModernEra-Regular', sans-serif;
}

.card h4 {
    font-family: 'ModernEra-Bold', sans-serif;
}

h1 {
    font-size: 3rem;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 24px;
}

h2 {
    font-size: 2rem;
    color: var(--color-blue900);
    text-align: left;
    margin-bottom: 16px;
}

h3 {
    font-size: 2rem;
    color: var(--color-blue900);
    text-align: left;
    margin: 40px 0px 16px 0px;
}

h4 {
    font-size: 1.5rem;
    color: var(--color-blue900);
    text-align: left;
    margin: 16px 0px;
}

h5 {
    font-size: 1.1rem;
    color: var(--color-blue900);
    font-weight: 600;
}

a{
  color: var(--color-green);
}

a:hover{
    color: var(--color-green);
}

.workflowHeader h4 {
    color: var(--color-white);
}

.new_section:first-child h4, .workflowHeader h4 {
    text-align: center;
}

p {
    font-size: 1rem;
    color: var(--color-blue900);
    margin-bottom: 24px;
}
@media only screen and (min-width: 765px){
  .tekst-small p{
    padding-right: 50vw;
  }
}

.scrollspy h5 {
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
    color: var(--color-blue900);
    border-left: 3px solid;
    font-weight: 400;
}
.scrollspy h6{
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 20px;
    color: var(--color-blue900);
}

/* ============LINKS & BUTTONS============ */
button.button_download {
    font-size: 1.25rem;
    width: 100%;
    text-align: left;
    background-color: var(--color-gray300);
    color: var(--color-secondary);
    border-radius: 16px;
    border: none;
    margin-bottom: 20px;
    padding: 24px;
    display: flex;
    align-items: center;
    transition: var(--transition);
    transition: var(--webkit-transition);
    transition: var(--o-transition);
    transition: var(--moz-transition);
    outline: 0;
}

button.button_download::before {
    content: url(../icons/icon_download.svg);
    padding-right: 16px;
}

button.button_download:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}

button.button_download:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    outline: 0;
}

.btn {
    border: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: .575rem 1.35rem;
    transition: 0.15s ease-in;
    color: var(--color-white);
    font-weight: 600;
}

.btn-xl {
    font-size: 20px;
}

.btn-primary {
  background-color: var(--color-green);
}
.btn-primary:hover {
  background: var(--color-green);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background: var(--color-green);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-secondary {
  background: var(--color-secondary);
}
.btn-secondary:hover {
  background: var(--color-secondary);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background: var(--color-secondary);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-success {
  background: var(--color-success);
}
.btn-success:hover {
  background: var(--color-success);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus,
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  background: var(--color-success);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-warning {
  background: var(--color-warning);
  color: var(--color-dark);
}
.btn-warning:hover {
  background: var(--color-warning);
  color: var(--color-dark);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus,
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
  background: var(--color-warning);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-danger {
  background: var(--color-danger);
}
.btn-danger:hover {
  background: var(--color-danger);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus,
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
  background: var(--color-danger);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-info {
  background: var(--color-green);
}
.btn-info:hover {
  background: var(--color-green);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus,
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  background: var(--color-green);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-dark {
  background: var(--color-dark);
}
.btn-dark:hover {
  background: var(--color-dark);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-dark.dropdown-toggle:focus,
.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
  background: var(--color-dark);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-light {
  background: var(--color-light);
  color: var(--color-dark);
}
.btn-light:hover {
  background: var(--color-light);
  color: var(--color-dark);
  transform: scale(1.05);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus,
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  background: var(--color-light);
  color:  var(--color-dark);
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}
.btn-disabled {
  background: #BEBEBE;
  color: #4f4f4f;
}
.btn-disabled:hover {
  background: #BEBEBE;
  color: #4f4f4f;
  box-shadow: none;
}
.btn-disabled:not(:disabled):not(.disabled).active:focus, .btn-disabled:not(:disabled):not(.disabled):active:focus, .show>.btn-disabled.dropdown-toggle:focus,
.btn-disabled:not(:disabled):not(.disabled).active, .btn-disabled:not(:disabled):not(.disabled):active, .show>.btn-disabled.dropdown-toggle {
  background: #BEBEBE;
  color: #4F4F4F;
  box-shadow: none;
}
.btn.btn-link {
  background: none;
  color: var(--color-link);
  box-shadow: none;
}
.btn-link:hover {
  color: var(--color-link);
  text-decoration: underline;
}
.btn-link:not(:disabled):not(.disabled).active:focus, .btn-link:not(:disabled):not(.disabled):active:focus, .show>.btn-link.dropdown-toggle:focus,
.btn-link:not(:disabled):not(.disabled).active, .btn-link:not(:disabled):not(.disabled):active, .show>.btn-link.dropdown-toggle {
  box-shadow: none;
  animation: buttonpress 0.2s ease-out;
}

.btn-link:hover, .btn-link:active{
  color: var(--color-link);
}

@keyframes buttonpress{
    0% {transform: scale(1.05);}
    20% {transform: scale(0.85);}
    100% {transform: scale(1);}
}

/* === Navpills === */
.nav-pills .nav-link{
  background: var(--color-secondary);
  border: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: .575rem 1.35rem;
  transition: 0.15s ease-in;
  color: #fff;
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 991px){
  .nav-pills .nav-link{
    border-radius: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .nav-item:first-child .nav-link {
    border-radius: 30px 0 0 30px;
  }
  .nav-item:last-child .nav-link {
    border-radius: 0 30px 30px 0;
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #fff;
  background: var(--color-primary);
}
.nav.nav-pills.justify-content-center{
  margin: auto;
}
.navbar{
  background: #fff;
}
/* ============LAYOUTS GENERAL============ */
.new_section {
    margin: 80px 0px;
    padding: 88px 0px;
}

#startDiv, #pipeline {
    background-color: var(--color-gray300);
    padding: 88px 0px;
}

.col-12.center {
    text-align: center;
}

hr {
    width: 100%;
    height: 3px;
    background-color: var(--color-secondary);
    border: none;
}

.img_placeholder {
    width: 100%;
    height: 96vh;
    background-color: var(--color-grunerTag);
}

figure {
    margin: 0px;
}

img {
    width: 100%;
    margin: 24px 0px;
}

.video iframe {
    width: 100%;
    min-height: 310px;
    border-radius: 0 0 16px 16px;
}

figure.video {
    margin-bottom: -6px;
}

.card{
  background: var(--color-white);
  border-radius: 40px;
  border: 2px solid var(--color-borderLine) !important;
  padding: 16px;
  border: 0;
}
.card-header:first-child{
    background: var(--color-link);
    color: #fff;
    border-radius: 16px 16px 0 0;
    border: 0;
    font-weight: 600;
}
.card-body h4{
    margin: 0 0 17px 0;
    line-height: 0.8;
}
.card-body ul{
    padding-left: 20px;
    margin-bottom: 20px;
    color: var(--color-dark);
}
.card-body.youtube{
  padding: 0;
}
/* ============ Header ============ */

.workflowHeader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../documents/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.workflowHeader .row:nth-child(2){
  padding-top: 30px;
}

/* ============ Intro ============ */
.tldr{
  margin-top: 27px
}

/* ============ Uitleg ============ */
.uitleg_section{
  background: var(--color-donkergrijs)
}
.uitleg{
      background: #ffffff;
      padding: 20px;
      margin-top: 40px;
      margin-bottom: 40px;
      border-radius: 16px;
}
.scrollspy {
    position: relative;
    height: 70vh;
    margin-top: .5rem;
    overflow: auto;
}
@media only screen and (min-width: 992px){
  .scrollspy img {
    padding: 0 15%;
  }
}



.carousel-controls {
    display: flex;
    justify-content: flex-end;
}

.carousel-content p {
    padding-right: 0;
}

.carousel-control-prev, .carousel-control-next {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    border: 2px solid var(--color-green);
    border-radius: 100px;
    position: unset;
    margin-bottom: 32px;
}

.carousel-control-prev {
    margin-right: 16px;
}

.carousel-content {
    width: 100%;
    display: flex;
}

.carousel-control-next-icon {
    background-image: url(../icons/carousel-arrow-right.svg);
}

.carousel-control-prev-icon {
    background-image: url(../icons/carousel-arrow-left.svg);
}

#pipeline .tekst-small {
    margin-top: 80px;
}

#pipeline .carousel {
    margin-top: -58px;
}